<app-header></app-header>
<main>
  <ul id="users">
    @for (user of users; track user.id){
    <li>
      <app-user [user]="user"
       [isSelected]="user.id===selectedUser?.id" (userSelected)="onUserSelected($event)"></app-user>
    </li>
  }
</ul>

@if (selectedUser){

  <app-tasks [userName]="selectedUser?.name" [userId]="selectedUser?.id">{{selectedUser.name}}</app-tasks>
}
 @else {
    <p>please pick a user</p>
}

<div class="actions">
  <button (click)="openNewUser()" >Add User</button>
  </div>

@if(showNewUser)
{
  <app-new-user (addNewUser)="userFormValue($event)"></app-new-user>
}
</main>